.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Cards{
  display: inline-flex ;
}
.card {
  margin: 10px !important;
  /* display: inline-block; */
  text-align: center !important;
  box-shadow: 2px 2px #4A525A;
}
div.card-body {
  border: 1px solid !important;
  padding: 5px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
}

p.card-text {
  margin: 0px !important;
}

.Cards :hover{
  background-color: #f3E8EE;
}

.card-title {
  font-weight: 800;
}

.card-subtitle {
  font-style: italic;
}

.btn.btn-secondary {
  color: #282c34;
}